<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header class="header">
    <script th:inline="javascript">
        window.BASE_URL = /*[[@{/}]]*/ "/";
    </script>
    <script th:src="@{/js/common/header.js}"></script>
    <script th:src="@{/js/common/sessionTimer.js}"></script>
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <div class="header-inner">
        <div class="logo">
            <div class="logo-main">
                <a th:href="@{/}">
                    <img th:src="@{/images/WAVECARD_logo.png}" alt="">
                </a>
            </div>
        </div>

        <!-- 1차 메뉴: hover하면 아래 .mega-panel이 열리는 구조 -->
        <ul class="nav_menu">
            <li title="menu1">
                <a th:href="@{/my}" class="menu_title">마이</a>
                <!-- 임시 메뉴 하위 영역 -->
                <div class="mega-panel">
                    <div class="mega-inner">
                        <div class="mega-col">
                            <h4>카드 이용 내역</h4>
                            <ul>
                                <li><a th:href="@{/my/OwnCard}">보유 금융 상품</a></li>
                                <li><a th:href="@{/my/CardHistory}">이용내역 명세서</a></li>
                                <li><a th:href="@{/my/RecentHistory}">최근 이용 내역</a></li>
                                <li><a href="#">결제 위치 지도로 확인하기</a></li>
                            </ul>
                        </div>
                        <div class="mega-col">
                            <h4>이용 금액 결제</h4>
                            <ul>
                                <li><a href="#">즉시 납부</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>

            <li title="menu2">
                <a th:href="@{/my}" class="menu_title">혜택</a>
                <div class="mega-panel">
                    <div class="mega-inner">
                    </div>
                </div>
            </li>

            <li>
                <a th:href="@{/card/list}" class="menu_title">카드</a>
                <div class="mega-panel">
                    <div class="mega-inner">
                        <div class="mega-col">
                            <h4>카드신청</h4>
                            <ul>
                                <li><a th:href="@{/card/list}">체크카드</a></li>
                                <li><a th:href="@{/card/list}">신용카드</a></li>
                                <li><a th:href="@{/card/list}">기업카드</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <a href="/" class="menu_title">고객지원</a>
                <div class="mega-panel">
                    <div class="mega-inner">
                        <div class="mega-col">
                            <h4>인증 센터</h4>
                            <ul>
                                <li><a href="#">카드본인확인서비스</a></li>
                            </ul>
                        </div>
                        <div class="mega-col">
                            <h4>기타 안내</h4>
                            <ul>
                                <li><a href="#">카드 종합 이용 안내</a></li>
                                <li><a href="#">고객 이용 약관 안내</a></li>
                                <li><a href="#">웹사이트 이용 안내</a></li>
                                <li><a href="#">상품공시실 / 자료실</a></li>
                                <li><a href="#">뉴스 / 공지</a></li>
                            </ul>
                        </div>
                        <div class="mega-col">
                            <h4>상담</h4>
                            <ul>
                                <li><a th:href="@{cs/ai/cs}">AI 상담</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="util">
            <form th:action="@{/card/list}" method="get">
                <div class="search-box">
                    <input type="text"
                           name="keyword"
                           th:value="${keyword}"
                           placeholder="검색어를 입력해 주세요.">
                    <button type="submit" class="search-ico" aria-label="검색">
                        <img th:src="@{/images/search.png}">
                    </button>
                </div>
            </form>
            <!-- ▼ 예전 디자인 그대로 세션바 옮겨오기 ▼ -->
            <section sec:authorize="isAuthenticated()" class="myp-session-bar">
                <div class="myp-session-left">
                    <!-- 실제 로그인 사용자 이름 바인딩 -->
                    <button type="button" class="link-name" id="btnUserInfo">
                        <a th:href="@{/my/Profile}">
                            <span th:text="${#authentication.principal.userNickname} + '님'">유저이름님</span>
                        </a>
                    </button>
                </div>
                <div class="myp-session-right">
                    <button type="button" class="btn-session-extend" id="btnExtend">
                        로그인 연장
                    </button>
                    <span class="session-timer" id="sessionTimer">
                        09:58
                    </span>
                </div>
            </section>
        </div>
    </div>
</header>