<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CARD ADMIN</title>
    <!--
        날짜 : 2025-11-17
        내용 : 관리자 메인(index) 화면
    -->

    <link rel="stylesheet" th:href="@{/css/admin/common/mainContainer.css}">
    <link rel="stylesheet" th:href="@{/css/admin/index.css}">
</head>
<body>
<div th:replace="~{admin/common/header :: header}"></div>
        <div th:replace="~{admin/common/aside :: aside}"></div>
<main>
    <div class="main-container">
        <div id="main-content">

            <div class="main-grid">
                <div class="kpi-card">
                    오늘 신규 상품 등록
                    <a href="">More Info +</a>
                </div>
                <!-- 상단 KPI 카드 -->
                <div class="kpi-card">승인 요청 건수</div>
                <div class="kpi-card">발급 완료 건수</div>
                <div class="kpi-card">판매 중인 상품 수</div>

                <!-- 중간 그래프 영역 -->
                <div class="chart-bar">메인영역1<br>막대차트-월별 발급추이(막대그래프)</div>
                <div class="chart-donut">메인영역2<br>도넛차크-기업,신용,체크,프리미엄,..</div>

                <!-- 하단 정보 영역 -->
                <div class="info-list">승인 대기 요청 목록</div>
                <div class="info-list">상품 정보 수정 요청</div>
                <div class="info-list">바로가기 아이콘</div>
            </div>



        </div>
    </div>
</main>
<div th:replace="~{admin/common/footer :: footer}"></div>
<script th:src="@{/js/admin/common/aside.js}"></script>
</body>
</html>