<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CARD ADMIN</title>
    <link rel="stylesheet" th:href="@{/css/admin/common/mainContainer.css}">
    <script th:src="@{/js/admin/common/aside.js}"></script>
</head>
<div th:replace="~{admin/common/header :: header}"></div>
<body>
<main>
    <div class="main-container">
        <div th:replace="~{admin/common/aside :: aside}"></div>
        <div id="main-content">
            <!--
                상품 현황 통계 정보
                관리 메뉴 카테고리
            -->
            <!-- 문의사항 -->
            <div class="qna">
                <h1> 문의 사항 </h1>
                <table>
                    <thead>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>날짜</th>
                    <th>답변여부</th>
                    </thead>
                    <tr th:each="qna : ${qnAList}">
                        <td>[[${qna.qnaId}]]</a></td>
                        <td><a th:href="@{/qna/view/{id}(id=${qna.qnaId})}">[[${qna.title}]]</a></td>
                        <td>[[${qna.writer}]]</td>
                        <td>[[${qna.createdAt}]]</td>
                        <td>[[${qna.isAnswered}]]</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{admin/common/footer :: footer}"></div>
</body>
</html>