<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WAVE CARD ADMIN</title>
    <link rel="stylesheet" th:href="@{/css/admin/login.css}">

</head>
<body>
    <form th:action="@{/login}" method="post">
        <input type="hidden" name="loginType" value="admin">

        <img th:src="@{/images/WAVECARD_logo.png}" alt="부산은행카드팀로고" class="LOGO">

        <div class="input-box">
            <img th:src="@{/images/user-round.svg}" alt="아이디아이콘" class="login-icon">
            <input type="text" name="memId" placeholder="I  D" required class="login-input"/>
        </div>

        <div class="input-box">
            <img th:src="@{/images/user-key.svg}" alt="비밀번호아이콘" class="login-icon">
            <input type="password" name="password" placeholder="P W" required class="login-input"/>
        </div>

        <div class="input-box">
            <button class="login-btn">
                <!-- <a th:href="@{/admin}">Login</a> -->
                <input type="submit" value="Login">
            </button>
        </div>

    </form>

</body>
</html>