/*
    날짜 : 2025-11-24
    이름 : 이수연
    내용 : 관리자 등록 CSS
*/
.main-container {
    width: 1200px;
    margin: 0 auto;
    min-height: 800px;
}


table {
    border: none;
}
th, td {
    text-align: left;
    padding: 5px;
}
th {
    width: 120px;
}
td span {
    font-size: 12px;
    color: gray;
}
input {
    height: 35px;
    width: 300px;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid;
}
input[type="radio"] {
    width: 15px;
    height: 15px;
}
.radio-group {
    display: flex;
    align-items: center;
    gap: 15px;
}



/* 공통 적용 (복붙) */
form {
    width: 1000px;
    margin: 0 auto;
}
.form-wrap {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.form-section {
    display: flex;
    padding: 30px 5px;
    border-bottom: 1px solid;
}

.section-header {
    width: 400px;
    padding-right: 40px;
}
.section-header p {
    padding: 15px;
    color: darkgray;
    font-size: 12px;
}

/* ㅡㅡㅡ 취소, 등록 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.terms-action-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 0;
    margin-bottom: 60px;
}
.terms-action-bar a {
    background-color: #d1d1d1;
    color: black;
}
