/*
    날짜 : 2025-11-18
    내용 : 관리자 카드 목록 CSS
    참고 : mainContainer.css에 전역 리셋 및 기본설정 있음
*/

/* 버튼 CSS */
.btn {
    background-color: #cb2b11;
    color: white;
    border: none;
    margin: 10px;
}

.register-btn {
    width: 120px;
    height: 35px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}


