/*
    날짜 : 2025-11-21
    이름 : 이수연
    내용 : register css
*/
form {
    width: 1000px;
    margin: 0 auto;
}
.form-wrap {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.form-section {
    display: flex;
    padding: 30px 5px;
    border-bottom: 1px solid;
}

.section-header {
    width: 500px;
    padding-right: 60px;
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}

.form-field-wrapper { /* 세로 나열 */
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
.form-flex-wrapper { /* 가로 나열 */
    display: flex;
    gap: 10px;
    font-weight: 500;
}

/* 공통 적용 */
input, select, textarea {
    height: 30px;
    border: none;
    border-bottom: 1px solid;
}


/* 추가, 삭제 버튼 */
.btn-section {
    justify-content: space-between;
}
.btn-section-submit {
    justify-content: center;
    gap: 20px;
    margin: 50px;
}

.annualFee-add-btn,
.annualFee-remove-btn,
.benefit-add-btn,
.benefit-remove-btn {
    width: 25px;
    height: 25px;
    font-size: 25px;
    padding: 5px;
    background-color: #cb2b11;
}

/* 숫자 입력폼 */
.input-with-unit {
    position: relative;
    display: inline-block;
}

.input-with-unit input {
    padding-right: 2em; /* 단위 표시 공간 확보 */
}

.input-with-unit .unit {
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* 클릭 시 input이 클릭되도록 */
    color: #555;
}

.form-field-wrapper label {
    padding-bottom: 5px;
}

.product-name-input {
    min-width: 500px;
}
.product-desc-textarea {
    min-width: 500px;
    min-height: 100px;
    resize: none;
    overflow: auto;
    border: none;
    border-bottom: 1px solid;
}
.product-desc-textarea:focus {
    /* 굵기와 스타일은 유지하고 색상만 파란색으로 변경 */
    outline-color: #cb2b11;
}
.benefitContainer {
    gap: 10px;
}

/* 컬러 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.section-header h2 {
    color: #300000;
    margin-top: 0;
    margin-bottom: 10px;
}

.section-header p {
    font-size: 13px;
    color: #757575;
    line-height: 1.5;
    margin: 0;
}

/* 체크박스 */
.isCompany {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}

.company-checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 4px;
    position: relative;
    background-color: #fff;
    vertical-align: middle;
    cursor: pointer;
}

.company-checkbox:checked::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}




