<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>카드 신청 완료</title>
<!--    <link rel="stylesheet" href="../css/common/product_header_style.css" />-->
<!--    <link rel="stylesheet" href="../css/common/footer_style.css" />-->
    <link rel="stylesheet" th:href="@{/css/member/card/register10.css}" />
</head>

<body>
<div th:replace="~{common/product_header :: product_header}"></div>

    <main class="content">
        <section class="complete-wrap">

            <!-- 동그라미 체크 -->
            <div class="complete-icon">✓</div>

            <!-- 카드명 -->
            <h1 class="complete-card-name">체크카드</h1>
            <p class="complete-main-text">신청이 완료되었습니다.</p>

            <!-- 신청일시 -->
            <p class="complete-date">
                신청일시
                <span class="date-value">2025-11-17 14:32</span>
                <!-- 서버/템플릿 값으로 교체 -->
            </p>


        <!-- 확인 버튼 (form submit) 확인 누르면 DB에 최종 저장됨 -->
        <form th:action="@{/card/register10}" method="post">
            <button type="submit" class="btn-confirm">확인</button>
        </form>
    </section>
</main>

<div th:replace="~{common/footer :: footer}"></div>


<script>
    // 혜택 선택 버튼 토글만 남김
    const benefitButtons = document.querySelectorAll('.benefit-option');
    benefitButtons.forEach(btn => {
        btn.addEventListener('click', () => {
            btn.classList.toggle('selected');
        });
    });
</script>

</body>
</html>
