/*
    날짜 : 2025-11-16
    내용 : admin aside CSS
    이름 : 이수연
*/
/* 대화형 사용자 경험으로 전환하는데 사용됨 */
/* 사이드바의 초기 너비를 설정하는 CSS 변수 */
body {
    --sb-width: 5rem;
}

/* sb-expanded(확장)가 사용될 때마다 10rem으로 업데이트 됨 */
body.sb-expanded{
    --sb-width: 10rem;
}

aside {
    position: fixed;
    /* top: 0;
    left: 0;
    bottom: 0; */
    inset: 0 auto 0 0; /* 위치 고정 & height: 100%를 의미 */
    padding: 1rem;
    /*width: 50px; !* 일시적 지정 *!*/
    width: var(--sb-width); /* 새로 정의도니 변수로 변경 */

    background-color: #262626;

    transition: width 0.5s ease-in-out; /* 변화에 대한 애니메이션 적용 */
}

#aside-container {
    /* height: 100em제거. 이거때문에 스위치가 화면 밖으로 밀려남. */
    height: 100%; /* aside의 패딩을 제외한 영역을 차지 */
    display: flex;
    flex-direction: column;
}

#aside-container img {
    width: 1.875rem;
    height: 1.875rem;

}

#aside-container ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 2.5rem;
    padding: 0;
    margin: 0;

    flex-grow: 1; /* ! 남은 공간을 모두 차지하여 스위치를 아래로 밀어냄 */
}

/* 토글 스위치를 맨 아래에 위치 시킴 */
.aside-switch {
    margin-top: auto;
}

#aside-container a {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 0.625rem 0;
    font-size: 1.25rem;
    line-height: 1;
    color: #ffffff;
    text-decoration: none;
    transition:
            background-color 0.5s ease-in-out,
            color0.5s ease-in-out;
}

/* aside가 접혀 있을 때에는 숨기기 */
#aside-container span {
    font-size: 1rem;
    opacity: 0;         /* 불투명 조절 : 투명100% */
    visibility: hidden; /* 기본적으로 숨겨져 있음 */
    transition:
        opacity 0.3s ease-in-out,
        visibility 0.3s ease-in-out; /* 펼쳐질 때 에니메이션 세부 조정 */
}

/* sb-expanded 활성되면, 숨겨졌던 span이 화면에 표시되도록 함 */
.sb-expanded #aside-container a span {
    opacity: 1;
    visibility: visible;
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;

    max-height: 0;  /* ❗ 추가: 높이를 0으로 설정하고 내용 숨김 */
    overflow: hidden;
    transition: max-height 0.3s ease-out; /* 애니메이션 적용 */
}

/* === aside가 확장되었을 때 ============================== */
main, header, footer {
    margin-left: 10rem; /* 사이드바가 펼쳐졌을 때의 영역 */
    padding: 1rem 1rem;
    transition: margin-left 0.5s ease-in-out; /* 효과를 미세하게 조정하기 위해 전환을 적용 */
}

/* 768px 보다 큰 화면에서는 여배이 앞서 정의한 변수 값에 따라 동적으로 조정 (768px보다 작으면 main영역으로 올라가게 함, 충분한 너비이면 main을 밀어냄.)*/
@media (min-width: 768px) {
    main, header, footer {
        margin-left: var(--sb-width);
    }
}


/*  ===== aside 고정 switch CSS ============================== */
/* aside on/off switch design */
[type="checkbox"] {
    appearance: none;
    position: relative;
    border: max(2px, 0.1em) solid white;
    background-color: #D9D9D9;
    border-radius: 1.25em;
    width: 3em;
    height: 1.5em;
    transition: background-color 250ms linear; /* 애니메이션 속성 추가 */
}

/* switch thumb */
[type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: #CB2B11;
    transition: left 250ms linear; /* 애니메이션 속성 추가 */
}

/* on state(스위치 오른쪽으로 이동했을 때) */
[type="checkbox"]:checked::before {
    background-color: #CB2B11;
    left: 1.5em;
}

[type="checkbox"]:checked {
    background-color: #AA210A;
}
