/*
    날짜 : 2025-11-18
    내용 : 관리자 카드 목록 CSS
    참고 : mainContainer.css에 전역 리셋 및 기본설정 있음
*/
/* action-bar 레이아웃 ----------------*/
.action-bar {
    display: flex;
    justify-content: space-between;
    height: 35px;
    margin: 20px 0;
}
.action-bar form {
    display: flex;
    gap: 15px;
    margin-right: 30px;
}

/* action-bar 사이즈 및 디테일 */
.btn {
    background-color: #cb2b11;
    border: 1px solid #D9D9D9;
    color: white;

    font-weight: 500;
    letter-spacing: 2px;

    height: 35px;
}
.register-btn   {width: 120px;}
.search-btn     {width: 50px; margin: 0 10px}

.action-bar select,
.action-bar input {
    border: 1px solid #D9D9D9;
    height: 35px;
    font-weight: 600;
}
.action-bar select  {width: 80px;}
.action-bar input   {width: 200px;}

/* 테이블 common-commonActionBarTable.css ----------------------------- */
/* 모든 테이블에 적용될 공통 초기화/기본 설정 */
table {
    width: 100%;                /* 너비를 부모 요소에 꽉 채우도록 설정 */
    table-layout: auto;         /* 테이블의 셀 행 열의 너비 구현 방식 */
    border-collapse: collapse;  /* 테이블 셀 간의 여백 제거 및 테두리 하나로 합치기 */
    border-bottom: 2px solid #ccc;
}
th, td {
    padding: 12px 15px;
    text-align: center;
    border: none;
}
ul li, table tbody td a {list-style: none;}

/* 모든 테이블 헤더(th)에 적용 */
table thead th {
    font-weight: bold;
    color: #333;        /* 글씨 색상 설정 (선택 사항) */
    background-color: #f5f5f5;

    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-left: none;
    border-right: none;
}

/* ** 테이블 바디 영역 **
    - 테이블 바디(tbody) 내 모든 행(tr)에 적용
    - 홀수odd 행과 짝수even 행을 구분하여 배경색을 적용
 */
.odd-row td {background-color: white;}
.even-row td {background-color: #F1F1F1;}

/* 마우스 오버 시 효과 */
table tbody tr:hover {background-color: #FDEAE7;}

/* 테이블 바디 셀(td)에는 별도의 테두리를 적용 안함 */
table tbody td {border: none;}
table tbody td {border: none;}





