/*
    날짜 : 2025-11-18
    내용 : 관리자 footer CSS
    참고 : mainContainer.css에 전역 리셋 및 기본설정 있음
*/

footer {
    /*position: fixed;*/
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 100;
    background-color: #F9F9F9;
}

#footer-container{
    border-top: 2px solid #CB2B11;
}

#footer-wrap {
    width: 100%;
    margin: 0 auto; /* 가운데 정렬 */
}