* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin : 0;
    font-size: 16px;
    line-height: 1.7;
    color: #333;
    background-color: #F9F9F9;
}

.main-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto; /* 가운데 정렬 */
}

#main-content {
    flex: 1; /* 남은 공간을 모두 차지 */
}