/*
    날짜 : 2025-11-18
    내용 : admin <main> title & breadcrumb
*/
.page-header {
    height: 66px;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.page-title {
    margin: 5px;
}

.page-breadcrumb {
    font-size: 10px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
}