<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WAVE CARD ADMIN</title>
    <link rel="stylesheet" th:href="@{/css/admin/common/commonCSS.css}">
    <link rel="stylesheet" th:href="@{/css/admin/common/commonActionBarTable.css}">
    <link rel="stylesheet" th:href="@{/css/admin/config/configCommon.css}">
    <script th:src="@{/js/admin/common/aside.js}"></script>
</head>
<div th:replace="~{admin/common/header :: header}"></div>
<div th:replace="~{admin/common/aside :: aside}"></div>
<body>
<main>
    <div class="main-container">
        <div th:replace="~{admin/common/mainHeader :: mainHeader}"></div>

        <div class="nav-content">
            <nav class="nav-menu">
                <ul>
                    <li><a th:href="@{/admin/config/basic}">기본설정</a></li>
                    <li><a th:href="@{/admin/config/version}">버전관리</a></li>
                    <li><a th:href="@{/admin/config/category}">화면관리</a></li>
                    <li style=" font-weight: 800; color: #cb2b11;">
                        <a th:href="@{/admin/config/banner}" style="color: #cb2b11; font-size: 20px;">배너관리</a>
                    </li>
                </ul>
            </nav>
        </div>
<!--                <div class="tab-bar">-->
<!--                    <a th:href="@{#}">메인상단배너</a>-->
<!--                    <a th:href="@{#}">메인슬라이더배너</a>-->
<!--                    <a th:href="@{#}">상품 상세보기 배너</a>-->
<!--                    <a th:href="@{#}">회원로그인배너</a>-->
<!--                    <a th:href="@{#}">마이페이지배너</a>-->
<!--                </div>-->

        <div id="main-content">
                <section class="banner-section">
                    <table class="banner-table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>제목</th>
                                <th>이미지</th>
                                <th>링크</th>
                                <th>노출위치</th>
                                <th>노출순서</th>
                                <th>노출기간</th>
                                <th>노출여부</th> <!-- (노출,숨김,기간만료) -->
                                <th>관리일 </th>
                                <th>클릭 수</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>잠만보 카드 상품 홍보</td>
                                <td class="img-cell">
                                    <img th:src="@{/images/이미지로드안됨.png}" alt="" class="card-preview-img">
                                </td>
                                <td>http://wave/card/view/잠만보 상품 상세보기</td>
                                <td>메인 상단 슬라이드</td>
                                <td>1</td>
                                <td>2025.11.12.14:00 ~ 2025.12.26.23:59</td>
                                <td>노출</td>
                                <td>2025.11.10</td>
                                <td>241회</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <!-- 주요 액션 영역 -->
                <div class="config-action-bar ">
                    <!-- 등록버튼 -->
                    <button class="btn register-btn">등록</button>
                </div>
        </div>
    </div>
</main>
<div th:replace="~{admin/common/footer :: footer}"></div>
</body>
</html>
