<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WAVE CARD ADMIN</title>
    <link rel="stylesheet" th:href="@{/css/admin/common/commonCSS.css}">
    <link rel="stylesheet" th:href="@{/css/admin/common/commonActionBarTable.css}">
    <link rel="stylesheet" th:href="@{/css/admin/config/configCommon.css}">
    <script th:src="@{/js/admin/common/aside.js}"></script>
</head>
<div th:replace="~{admin/common/header :: header}"></div>
<div th:replace="~{admin/common/aside :: aside}"></div>
<body>
<main>
    <div class="main-container">
        <div class="page-header">
            <link rel="stylesheet" th:href="@{/css/admin/common/mainHeader.css}">
            <h1 class="page-title">버전관리</h1>
            <nav class="page-breadcrumb">
                관리자 &gt; 기본설정 &gt; 버전관리
            </nav>
        </div>

        <div class="nav-content">
            <nav class="nav-menu">
                <ul>
                    <li><a th:href="@{/admin/config/basic}">기본설정</a></li>
                    <li  style=" font-weight: 800; color: #cb2b11;">
                        <a th:href="@{/admin/config/version}" style="color: #cb2b11; font-size: 20px;">버전관리</a>
                    </li>
                    <li><a th:href="@{/admin/config/category}">화면관리</a></li>
                    <li><a th:href="@{/admin/config/banner}">배너관리</a></li>
                </ul>
            </nav>
        </div>

        <div id="main-content">
            <div class="configWrap">
                <!-- 1. 버전 안내 -->
                <section class="form-section">
                    <div class="section-header">
                        <h3>버전 정보</h3>
                        <p>현재 사이트 버전입니다.</p>
                    </div>
                    <div class="section-content">
                        <table style="border: none">
                            <tr>
                                <th>사이트 버전</th>
                                <td>0.0.2-SNAPSHOT</td>
                            </tr>
                        </table>
                    </div>
                </section>
                <!-- 1-2. 버전 등록 -->
                <section class="form-section">
                    <div class="section-header">
                        <h3>버전 관리</h3>
                        <p>
                            이 화면은 서비스 전반의 기능 변경, 오류 수정, 신규 배포 이력을 관리하는 공간입니다. <br>
                            등록·수정 시 아래 사항을 기준으로 정확한 버전 정보를 남겨주세요.
                        </p>
                    </div>
                    <div class="section-content">
                        <table id="version-table">
                            <thead>
                                <tr>
                                    <th>버전</th>
                                    <th>변경내역</th>
                                    <th>등록일시</th>
                                    <th>작성자</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0.0.2-SNAPSHOT</td>
                                    <td class="table-aline-left">
                                        <p style="white-space: pre;">
사용자
- 사용자 화면 마이페이지 제외 구현
- 사용자 카드 목록 상품 활성화된 것만 보이게 구현
- Footer에 버전 표시
관리자
- 관리자 카드 상품 활성, 비활성 시 경고
- 비활성화 시 상위 관리자 결재 기능할 수 있게 기능 구현
- 약관 등록 페이지 구현
- 관리자 사이드 JS 구현 중
                                        </p>
                                    </td>
                                    <td>2025.11.17 (월)</td>
                                    <td>한탁원 팀장</td>
                                </tr>
                                <tr>
                                    <td>0.0.1-SNAPSHOT</td>
                                    <td class="table-aline-left">
                                        <p>사용자 인덱스, 상품 목록, 등록 화면구현, 관리자 상품 등록 기능 구현</p>
                                    </td>
                                    <td>2025.11.14 (금)</td>
                                    <td>BNK SYSTEM</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>

                <!-- 주요 액션 영역 -->
                <div class="config-action-bar ">
                    <!-- 등록버튼 -->
                    <button class="btn register-btn">등록</button>
                </div>

            </div> <!-- configWrap -->
        </div> <!-- main-content -->
    </div> <!-- main-container -->
</main>
<div th:replace="~{admin/common/footer :: footer}"></div>
</body>
</html>