/*
    날짜 : 2025-11-16
    내용 : 관리자 로그인 화면 CSS
    이름 : 이수연
*/

/* 아이콘과 input을 감싸는 요소 스타일링 */
body {
    background-color: #FCEFEF;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BNK-logo {
    width: 500px;
    margin-bottom: 50px;
}

.input-box {
    display: flex; /* 내부 요소(아이콘, input)를 가로로 나열 */
    align-items: center;    /* 수직 중앙 정렬 */
    width: 300px;
    height: 40px;
    margin-bottom: 10px;

    box-sizing: border-box;
    border: 3px solid #CB2B11;
    border-radius: 10px; /* 둥근 모서리 */
    overflow: hidden; /* 내부 요소가 밖으로 나가지 않도록 */

    background-color: #ffffff;
}

/* 아이콘 스타일링 */
.input-box .login-icon {
    height: 24px;
    width: 24px;
    margin: 8px 10px;
}

/* 실제 입력 필드 스타일링 */
.input-box input {
    flex: 1;      /* flex: 1; 로 남은 공간을 input이 모두 차지하도록 설정 */
    border: none; /* 부모 요소에 테두리가 있으므로 input의 기본 테두리 제거 */
    height: 100%; /* 부모 요소의 높이에 맞춤 */
    padding: 0;
    font-size: 18px;
    outline: none; /* 포커스 시 생기는 기본 외곽선 제거 */
}

/* 플레이스홀더 텍스트 스타일링 (매우 중요) */
.input-box input::placeholder {
    color: #F5C7CA;
    font-weight: bold;
}

.login-btn {
    width: 300px;
    height: 40px;
    background-color: #CB2B11;
    box-sizing: border-box;
    border-radius: 10px; /* 둥근 모서리 */

    color: white;
    border: none;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
}