<link rel="stylesheet" href="../../../static/css/admin/common/aside.css">
<aside th:fragment="aside">
    <link rel="stylesheet" th:href="@{/css/admin/common/aside.css}">
    <nav id="aside-container" >
        <ul class="aside-ul">
            <li>
                <a th:href="@{#}" class="active menu-title">
                    <img th:src="@{/images/메뉴 아이콘.svg}" alt="aside tap icon">
                    <span></span>
                </a>
            </li>

            <li>
                <a th:href="@{#}" class="active menu-title">
                    <img th:src="@{/images/관리자_상품관리.svg}" alt="상품목록 아이콘">
                    <span>상품관리</span>
                </a>
                <ul class="submenu">
                    <li><a th:href="@{/admin/card/list}" class="submenu-a">상품목록</a></li>
                    <li><a th:href="@{/admin/card/status}" class="submenu-a">상품별가입현황</a></li>
                </ul>
            </li>

            <li>
                <a th:href="@{#}" class="active menu-title">
                    <img th:src="@{/images/관리자_고객관리.svg}" alt="고객관리 아이콘">
                    <span>고객관리</span>
                </a>
                <ul class="submenu">
                    <li><a th:href="@{/admin/member/list}" class="submenu-a">회원목록</a></li>
                    <li><a th:href="@{#}" class="submenu-a">알림설정</a></li>
                </ul>
            </li>

            <li>
                <a th:href="@{#}" class="active menu-title">
                    <img th:src="@{/images/관리자_운영관리.svg}" alt="운영관리 아이콘">
                    <span>운영관리</span>
                </a>
                <ul class="submenu">
                    <li><a th:href="@{/admin/admin/list}" class="submenu-a">관리자 목록</a></li>
                    <li><a th:href="@{/admin/approval/card/list}" class="submenu-a">승인</a></li> <!-- 화면이동_탭: 상품승인, 약관승인-->
                </ul>
            </li>

            <li>
                <a th:href="@{#}" class="active menu-title" >
                    <img th:src="@{/images/관리자_고객센터.svg}" alt="고객센터 아이콘">
                    <span>고객센터</span>
                </a>
                <ul class="submenu">
                    <li><a th:href="@{/admin/cs/question/list}" class="submenu-a">게시판목록</a></li>
                    <li><a th:href="@{#}" class="submenu-a">상품문의목록</a></li>
                </ul>
            </li>

            <li>
                <a th:href="@{#}" class="active menu-title" >
                    <img th:src="@{/images/관리자_기본설정.svg}" alt="환경설정아이콘">
                    <span>환경설정</span>
                </a>
                <ul class="submenu">
                    <li><a th:href="@{/admin/config/basic}" class="submenu-a">기본설정</a></li> <!-- 화면이동 탭 : 기본설정, 배너관리, 카테고리, 버전관리 -->
                    <li><a th:href="@{/admin/config/terms/list}" class="submenu-a">약관관리</a></li>
<!--                    <li><a th:href="@{/admin/config/banner}" class="submenu-a">배너관리</a></li>-->
<!--                    <li><a th:href="@{/admin/config/category}" class="submenu-a">카테고리</a></li>-->
<!--                    <li><a th:href="@{/admin/config/version}" class="submenu-a">버전설정</a></li>-->
                </ul>
            </li>

            <!-- 확장 고정 switch -->
            <li class="aside-switch">
                <a th:href="@{#}" >
                    <label><input type="checkbox" role="switch"></label>
                    <span></span>
                </a>
            </li>

        </ul>
    </nav>
</aside>