<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">
    <link rel="stylesheet" th:href="@{/css/admin/common/header.css}">
    <script th:inline="javascript">
        window.BASE_URL = /*[[@{/}]]*/ "/";
    </script>
    <script th:src="@{/js/common/sessionTimer.js}"></script>

    <div id="header-container">
        <div id="header-wrap">
            <a th:href="@{/admin}" class="admin-logo">
                <img th:src="@{/images/WAVECARD_logo.png}" alt="로고">
            </a>
            <div class="search-box">
                <label><input type="search"></label>
                <img th:src="@{/images/search.svg}" alt="search-icon">
            </div>
            <div class="header-icons">
                <a th:href="@{/admin}">
                    <img th:src="@{/images/house.svg}" alt="home">
                </a>
                <a th:href="@{#}">
                    <img th:src="@{/images/circle-user-round.svg}" alt="user">
                </a>
                <a th:href="@{#}">
                    <img th:src="@{/images/log-out.svg}" alt="logout">
                </a>
            </div>
            <section sec:authorize="isAuthenticated()" class="myp-session-bar">
                <div class="myp-session-left">
                    <!-- 실제 로그인 사용자 이름 바인딩 -->
                    <a th:href="@{/my/Profile}">
                        <span th:text="${#authentication.principal.userNickname} + '님'">유저이름님</span>
                    </a>
                </div>
                <div class="myp-session-right">
                    <button type="button" class="btn-session-extend" id="btnExtend">
                        로그인 연장
                    </button>
                    <span class="session-timer" id="sessionTimer">
                        09:58
                    </span>
                </div>
            </section>
        </div>
    </div>
</header>
