<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/admin/common/mainContainer.css}">
    <link rel="stylesheet" th:href="@{/css/admin/common/commonActionBarTable.css}">
    <script th:src="@{/js/admin/common/aside.js}"></script>
</head>
<body>
<div th:replace="~{admin/common/header :: header}"></div>
<div th:replace="~{admin/common/aside :: aside}"></div>
<main>
    <div class="main-container">
        <div id="main-content">
            <table>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제품명</th>
                        <th>설명</th>
                        <th>관리</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${productList}">
                        <td><a th:href="@{/admin/product/view/{proId}(proId=${product.proId})}">[[${product.proId}]]</a></td>
                        <td>[[${product.name}]]</td>
                        <td>[[${product.description}]]</td>
                        <td><a th:href="@{/admin/product/delete/{proId}(proId=${product.proId})}"
                               onclick="return confirm('정말 삭제하시겠습니까?');">
                            삭제
                        </a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<div th:replace="~{admin/common/footer :: footer}"></div>
</body>
</html>