<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WAVE CARD</title>
    <link rel="stylesheet" th:href="@{/css/admin/common/commonCSS.css}">
    <link rel="stylesheet" th:href="@{/css/admin/common/commonActionBarTable.css}">
    <link rel="stylesheet" th:href="@{/css/admin/approval/approval.css}">
    <script th:src="@{/js/admin/common/aside.js}"></script>
</head>
<body>
<div th:replace="~{admin/common/header :: header}"></div>
<div th:replace="~{admin/common/aside :: aside}"></div>
<main>
    <div class="main-container">
        <div th:replace="~{admin/common/mainHeader :: mainHeader}"></div>
        <div id="main-content">

            <!-- 탭 -->
            <div class="nav-content">
                <nav class="nav-menu">
                    <ul>
                        <li><a th:href="@{/admin/approval/card/list}">상품 승인</a></li>
                        <li><a th:href="@{/admin/approval/terms/list}">약관 승인</a></li>
                        <li class="approval-select-area">
                            <a th:href="@{/admin/approval/member/cardList}" class="approval-select-a">상품 가입 승인</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- 주요 액션 영역 -->
            <div class="action-bar">
                <!-- 등록버튼 -->
                <!-- 검색 -->
                <form method="get" th:action="@{/admin/approval/member/cardList}">
                    <div th:with="st=${param.searchType != null ? param.searchType[0] : ''}">
                        <select name="searchType" id="searchType">
                            <option value="" th:selected="${st == ''}">전체</option>
                            <option value="status" th:selected="${st == 'status'}">상태</option>
                        </select>
                    </div>

                    <input type="text" id="keyword" name="keyword" placeholder="검색어"
                           th:value="${param.keyword != null ? param.keyword[0] : ''}"/>

                    <button type="submit" class="btn search-btn">검색</button>
                </form>
            </div>

            <!-- 본문 -->
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>카드번호</th>
                            <th>사유</th>
                            <th>요청일</th>
                            <th>결재일</th>
                            <th>상태</th>
                            <th>관리</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>  <!-- content, 본문 -->

        </div> <!-- mian-content -->
    </div> <!-- main-container -->
</main>
<div th:replace="~{admin/common/footer :: footer}"></div>
</body>
</html>