<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WAVE CARD ADMIN</title>
    <link rel="stylesheet" th:href="@{/css/admin/common/commonCSS.css}">
    <link rel="stylesheet" th:href="@{/css/admin/common/commonActionBarTable.css}">
    <link rel="stylesheet" th:href="@{/css/admin/approval/approval.css}">
    <script th:src="@{/js/admin/common/aside.js}"></script>
</head>
<body>
<div th:replace="~{admin/common/header :: header}"></div>
<div th:replace="~{admin/common/aside :: aside}"></div>
<main>
    <div class="main-container">
        <div class="page-header">
            <link rel="stylesheet" th:href="@{/css/admin/common/mainHeader.css}">
            <h1 class="page-title">승인관리</h1>
            <nav class="page-breadcrumb">
                관리자 &gt; 상품관리 &gt; 승인관리 > 상품 가입 승인
            </nav>
        </div>
        <div id="main-content">

            <!-- 탭 -->
            <div class="nav-content">
                <nav class="nav-menu">
                    <ul>
                        <li><a th:href="@{/admin/approval/card/list}">상품 승인</a></li>
                        <li><a th:href="@{/admin/approval/terms/list}">약관 승인</a></li>
                        <li class="approval-select-area">
                            <a th:href="@{/admin/approval/member/cardList}" class="approval-select-a">상품 가입 승인</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- 주요 액션 영역 -->
            <div class="action-bar">
                <!-- 등록버튼 -->
                <!-- 검색 -->
                <form method="get" th:action="@{/admin/approval/member/cardList}">
                    <div th:with="st=${param.searchType != null ? param.searchType[0] : ''}">
                        <select name="searchType" id="searchType">
                            <option value="" th:selected="${st == ''}">전체</option>
                            <option value="status" th:selected="${st == 'status'}">상태</option>
                        </select>
                    </div>

                    <input type="text" id="keyword" name="keyword" placeholder="검색어"
                           th:value="${param.keyword != null ? param.keyword[0] : ''}"/>

                    <button type="submit" class="btn search-btn">검색</button>
                </form>
            </div>

            <!-- 본문 -->
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>신청번호</th> <!-- 신청 건 고유번호(없으면 제외) -->
                            <th>고객명</th>
                            <th>고객ID</th> <!-- 정렬용 -->
                            <th>결제/계좌 정보</th>
                            <th>신청일</th> <!-- 고객이 신청한 날짜, 정렬용 -->
                            <th>결재일</th>
                            <th>상태</th> <!-- 승인대기/승인/반려, 반려일 때에는 상태의 '반려'가 클릭되어 '상세보기(반려 사유)'를 볼 수 있도록? 되면 좋을 것 같은데 어때요? -->
                            <th>승인/반려</th> <!-- (반려시, 고객에게 보낼 사유 선택되도록하면 좋을 것 같은데 어때요? -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>  <!-- content, 본문 -->

        </div> <!-- mian-content -->
    </div> <!-- main-container -->
</main>
<div th:replace="~{admin/common/footer :: footer}"></div>
</body>
</html>