<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/common/mainContainer.css}">
    <script th:src="@{/js/common/aside.js}"></script>
</head>
<body>
<div th:replace="~{common/header :: header}"></div>
<main>
    <div class="main-container">
        <div th:replace="~{common/aside :: aside}"></div>
        <div id="main-content">
            <!-- 검색 -->
            <div class="search-form">
                <form method="get" th:action="@{/admin/card/list}">
                    <div th:with="st=${param.searchType != null ? param.searchType[0] : ''}">
                        <select name="searchType" id="searchType">
                            <option value="" th:selected="${st == ''}">전체</option>
                            <option value="name" th:selected="${st == 'name'}">상품명</option>
                            <option value="engName" th:selected="${st == 'engName'}">영어명</option>
                            <option value="type" th:selected="${st == 'type'}">카드유형</option>
                        </select>
                    </div>

                    <input type="text" id="keyword" name="keyword" placeholder="검색어"
                           th:value="${param.keyword != null ? param.keyword[0] : ''}"/>

                    <button type="submit">
                        <img th:src="@{/images/magnifier.png}" alt="돋보기"/>
                    </button>
                </form>
            </div>

            <!-- 정렬
            <div class="sort">
                <p>정렬</p>
                <form method="get" th:action="@{/qna/list}">
                    <input type="hidden" name="searchType"
                           th:value="${param.searchType != null ? param.searchType[0] : ''}">
                    <input type="hidden" name="keyword" th:value="${param.keyword != null ? param.keyword[0] : ''}">
                    <input type="hidden" name="answered" th:value="${param.answered != null ? param.answered[0] : ''}">
                    <input type="hidden" name="size" th:value="${qnAList.size}">

                    <select name="sortBy">
                        <option value="createdAt" th:selected="${param.sortBy == 'createdAt'}">날짜</option>
                        <option value="title" th:selected="${param.sortBy == 'title'}">제목</option>
                    </select>

                    <select name="direction">
                        <option value="asc" th:selected="${param.direction == 'asc'}">오름차순</option>
                        <option value="desc" th:selected="${param.direction == 'desc'}">내림차순</option>
                    </select>

                    <button type="submit" class="sort-btn">정렬 적용</button>
                </form>
            </div>
        -->

            <!-- 본문 -->
            <div class="content">
                <table>
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>상품명</th>
                        <th>카드유형</th>
                        <th>혜택</th>
                        <th>연회비</th>
                        <th>상태</th>
                        <th>등록일</th>
                        <th>수정일</th>
                        <th>관리</th>
                    </tr>
                    </thead>

                    <!-- 페이지 객체의 content 리스트를 반복 -->
                    <tr th:each="cardItem, stat : ${cardList.content}">
                        <td>[[${cardList.totalElements - (cardList.number * cardList.size + stat.index)}]]</td>
                        <td>
                            <a th:href="@{/admin/card/view(cardId=${cardItem.card.cardId})}">[[${cardItem.card.name}]] ([[${cardItem.card.engName}]])</a>
                        </td>
                        <td>[[${cardItem.card.type}]]</td>
                        <!-- 혜택 -->
                        <td>
                            <ul>
                                <li th:each="benefit : ${cardItem.benefitList}">
                                    [[${benefit.benefitCategory}]] [[${benefit.value}]] [[${benefit.unit}]] [[${benefit.benefitType}]]
                                </li>
                            </ul>
                        </td>

                        <!-- 연회비 -->
                        <td>
                            <ul>
                                <li th:each="fee : ${cardItem.annualFeeList}">
                                    [[${fee.annualName}]]원
                                </li>
                            </ul>
                        </td>

                        <td>[[${cardItem.card.status}]]</td>
                        <td>[[${#temporals.format(cardItem.card.createdAt, 'yyyy-MM-dd')}]]</td>
                        <td>[[${#temporals.format(cardItem.card.updatedAt, 'yyyy-MM-dd')}]]</td>
                        <td><button>관리</button></td>
                    </tr>
                </table>
            </div>


            <!-- 페이징 -->
            <div class="pagination" th:with="
                page=${cardList},
                now=${page.number},
                total=${page.totalPages},
                size=${page.size},
                block=${5},
                start=${(now / block) * block},
                end=${ ((total - 1) < (start + block - 1)) ? (total - 1) : (start + block - 1) },
                prev=${ (now > 0) ? (now - 1) : 0 },
                next=${ ((now + 1) < total) ? (now + 1) : (total - 1) },
                st=${param.searchType != null ? param.searchType[0] : ''},
                kw=${param.keyword != null ? param.keyword[0] : ''},
                ans=${param.answered != null ? param.answered[0] : ''}
             ">
                <div th:if="${total > 0}">
                    <a th:href="@{|?page=0&size=${size}&searchType=${st}&keyword=${kw}}"
                       th:classappend="${page.first} ? ' disabled'">« 처음</a>

                    <a th:href="@{|?page=${prev}&size=${size}&searchType=${st}&keyword=${kw}}"
                       th:classappend="${page.first} ? ' disabled'">‹ 이전</a>

                    <th:block th:each="i : ${#numbers.sequence(start, end)}">
                        <a th:href="@{|?page=${i}&size=${size}&searchType=${st}&keyword=${kw}}"
                           th:classappend="${i == now} ? ' active'">[[${i + 1}]]</a>
                    </th:block>

                    <a th:href="@{|?page=${next}&size=${size}&searchType=${st}&keyword=${kw}}"
                       th:classappend="${page.last} ? ' disabled'">다음 ›</a>

                    <a th:href="@{|?page=${total - 1}&size=${size}&searchType=${st}&keyword=${kw}}"
                       th:classappend="${page.last} ? ' disabled'">마지막 »</a>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{common/footer :: footer}"></div>
</body>
</html>