<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CARD ADMIN</title>
    <!-- 상품 등록 -->
    <link rel="stylesheet" th:href="@{/css/admin/common/commonCSS.css}">
    <link rel="stylesheet" th:href="@{/css/admin/common/commonActionBarTable.css}">
    <link rel="stylesheet" th:href="@{/css/admin/card/register.css}">
    <script th:src="@{/js/admin/common/aside.js}"></script>
    <script th:src="@{/js/admin/card/cardForm.js}"></script>
</head>
<body>
<div th:replace="~{admin/common/header :: header}"></div>
<div th:replace="~{admin/common/aside :: aside}"></div>
<main>
    <div class="main-container">
        <div th:replace="~{admin/common/mainHeader :: mainHeader}"></div>
        <div id="main-content">
            <form th:action="@{/admin/card/update}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="cardId" th:value="${cardItem.card.cardId}">
                <div class="form-wrap">
                    <!-- 1. 기본 정보 -->
                    <section class="form-section">
                        <div class="section-header">
                            <h2>기본 정보</h2>
                            <p>카드 상품을 식별하는 기본 정보를 입력합니다. 상품명, 노출명, 카드 타입 등 고객에게 바로 표시되는 핵심 정보입니다.</p>
                        </div>
                        <div class="section-content">
                            <div class="form-field-wrapper">
                                <label for="name" style="width: 50px">상품명</label>
                                <input id="name" type="text" name="name" th:value="${cardItem.card.name}" required
                                       class="product-name-input">
                            </div>
                            <div class="form-field-wrapper">
                                <label for="engName" style="width: 50px">영어명</label>
                                <input id="engName" type="text" name="engName" th:value="${cardItem.card.engName}"
                                       required class="product-name-input">
                            </div>
                            <div class="form-flex-wrapper">
                                <label for="type" style="width: 30px">타입</label>
                                <select name="type" id="type" required style="width: 50px">
                                    <option value="신용" th:selected="${cardItem.card.type == '신용'}">신용</option>
                                    <option value="체크" th:selected="${cardItem.card.type == '체크'}">체크</option>
                                </select> <br>
                                <label class="isCompany">
                                    <input type="checkbox" name="isCompany" value="true"
                                           th:checked="${cardItem.card.isCompany}" class="company-checkbox"> 기업
                                </label>
                            </div>
                            <div class="form-field-wrapper full-width">
                                <label for="description" style="width: 30px;">설명</label>
                                <textarea id="description" th:text="${cardItem.card.description}" name="description"
                                          required class="product-desc-textarea"></textarea>
                            </div>
                        </div>
                    </section>

                    <!-- 2. 연회비 -->
                    <section class="form-section">
                        <div class="section-header">
                            <h2>비용 정보</h2>
                            <p>카드 이용자에게 제고되는 혜택을 등록합니다. 적립, 할인, 제휴 혜택 등 모든 프로모션 내용을 포함할 수 있습니다.</p>
                        </div>
                        <div id="annualFeeList" class="section-content">
                            <div class="form-flex-wrapper btn-section">
                                <label>연회비</label>
                                <button type="button" class="btn annualFee-add-btn">+</button>
                            </div>
                            <!-- 연회비 항목 반복 -->
                            <div class="form-flex-wrapper btn-section annualFeeContainer"
                                 th:each="fee, stat : ${cardItem.annualFeeList}">
                                <div class="form-flex-wrapper">
                                    <select name="" id="" required>
                                        <option value="type" disabled selected hidden>타입 선택</option>
                                        <option value="국내">국내</option>
                                        <option value="해외">해외</option>
                                    </select>
                                    <div class="input-with-unit">
                                        <input type="text" name="annualFeeName" th:value="${fee.annualName}"
                                               style="width: 300px"
                                               class="product-num-input">
                                        <span class="unit">원</span>
                                    </div>
                                </div>
                                <button type="button" class="btn annualFee-remove-btn">-</button>
                            </div>
                        </div>
                    </section>

                    <!-- 3. 혜택 컨테이너 -->
                    <section class="form-section">
                        <div class="section-header">
                            <h2>혜택 정보</h2>
                            <p>
                                카드 이용자에게 제공되는 혜택을 등록합니다.<br>
                                월별 최대 혜택 금액 한도를 설정합니다.<br>
                                각 혜택을 고객에게 보여주는 내용입니다.
                            </p>
                        </div>
                        <div id="benefitList" class="section-content">
                            <div class="form-flex-wrapper btn-section">
                                <label>혜택</label>
                                <button type="button" class="btn benefit-add-btn">+</button>
                            </div>
                            <div class="form-field-wrapper btn-section">
                                <div class="form-field-wrapper benefitContainer"
                                     th:each="benefit : ${cardItem.benefitList}">
                                    <div class="form-flex-wrapper">
                                        <select name="category" class="category" required>
                                            <option value="" disabled selected hidden>카테고리 선택</option>

                                            <option th:each="category : ${categoryList}"
                                                    th:value="${category.name}"
                                                    th:selected="${benefit.benefitCategory == category.name}"
                                                    th:text="${category.name}">
                                            </option>
                                        </select>
                                        <select name="benefitType" class="benefitType" required>
                                            <option value="할인" th:selected="${benefit.benefitType == '할인'}">할인</option>
                                            <option value="캐시백" th:selected="${benefit.benefitType == '캐시백'}">캐시백</option>
                                            <option value="포인트적립" th:selected="${benefit.benefitType == '포인트적립'}">포인트적립</option>
                                        </select>
                                        <label class="input-with-unit">
                                            <input type="text" th:value="${benefit.value}" name="value" placeholder="혜택 값"
                                                   class="product-num-input">
                                        </label>
                                        <select name="unit" class="unit" required>
                                            <option value="%" th:selected="${benefit.unit == '%'}">%</option>
                                            <option value="원" th:selected="${benefit.unit == '원'}">원</option>
                                        </select>
                                    </div>
                                    <div class="form-field-wrapper">
                                        <label>월 최대 혜택 한도</label>
                                        <label class="input-with-unit" style="width: 150px">
                                            <input type="text" th:value="${benefit.limit}" name="limit"
                                                   placeholder="한도 금액" style="width: 150px;" class="product-num-input">
                                            <span class="unit">원</span>
                                        </label>
                                    </div>
                                    <div class="form-field-wrapper">
                                        <label>혜택설명</label>
                                        <label>
                                            <textarea name="benefitDescription" th:text="${benefit.benefitDescription}"
                                                      class="product-desc-textarea" placeholder="예: 주유소 5% 할인"
                                                      required></textarea>
                                        </label>
                                    </div>
                                    <button type="button" class="btn benefit-remove-btn" style="margin-left: auto;">-
                                    </button>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- 4. 이미지 관리`` -->
                    <section class="form-section">
                        <div class="section-header">
                            <h2>이미지 관리</h2>
                            <p>상품에 사용될 카드 이미지와 홍보용 이미지를 업로드합니다. 고객이 보는 주요 시각 요소입니다.</p>
                        </div>
                        <div class="section-content">
                            <label for="thumbnail">이미지</label>
                            <img th:src="@{'/' + ${cardItem.card.thumbnail}}" alt="thumbnail" width="150">
                            <input id="thumbnail" type="file" name="thumbnail" accept="image/*">
                        </div>
                    </section>

                    <div class="form-flex-wrapper btn-section-submit">
                        <a th:href="@{/admin/card/list}" class="btn register-btn">취소</a>
                        <button type="submit" class="btn register-btn">수정</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</main>
<div th:replace="~{admin/common/footer :: footer}"></div>

</body>
</html>