<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/common/mainContainer.css}">
    <script th:src="@{/js/common/aside.js}"></script>
</head>
<body>
<div th:replace="~{common/header :: header}"></div>
<main>
    <div class="main-container">
        <div th:replace="~{common/aside :: aside}"></div>
        <div id="main-content">

            <!-- 본문 -->
            <div class="content">
                <table>
                    <thead>
                    <tr>
                        <th>상품명</th>
                        <th>카드유형</th>
                        <th>혜택</th>
                        <th>연회비</th>
                        <th>상태</th>
                        <th>등록일</th>
                        <th>수정일</th>
                        <th>관리</th>
                    </tr>
                    </thead>

                    <!-- 페이지 객체의 content 리스트를 반복 -->
                    <tr>
                        <td>
                            <a th:href="@{/admin/card/view(cardId=${cardItem.card.cardId})}">[[${cardItem.card.name}]] ([[${cardItem.card.engName}]])</a>
                        </td>
                        <td>[[${cardItem.card.type}]]</td>
                        <!-- 혜택 -->
                        <td>
                            <ul>
                                <li th:each="benefit : ${cardItem.benefitList}">
                                    [[${benefit.benefitCategory}]] [[${benefit.value}]] [[${benefit.unit}]] [[${benefit.benefitType}]]
                                </li>
                            </ul>
                        </td>

                        <!-- 연회비 -->
                        <td>
                            <ul>
                                <li th:each="fee : ${cardItem.annualFeeList}">
                                    [[${fee.annualName}]]원
                                </li>
                            </ul>
                        </td>

                        <td>[[${cardItem.card.status}]]</td>
                        <td>[[${#temporals.format(cardItem.card.createdAt, 'yyyy-MM-dd')}]]</td>
                        <td>[[${#temporals.format(cardItem.card.updatedAt, 'yyyy-MM-dd')}]]</td>
                        <td><button>관리</button></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</main>
<div th:replace="~{common/footer :: footer}"></div>
</body>
</html>